.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  background-color: hsl(240, 78%, 98%);
}
.App {
  display: flex;
  flex-direction: row;
  align-self: center;
  position: absolute; left: 70px;
  text-align: center;
  margin: 0 -5px;


}

#card1{
  background-color: white;
  align-items: center;
  width: 400px;
  height: 500px;
}

#card2{
  background-image: linear-gradient(#A3A8F0, #696FDD);
  align-items: center;
  width: 400px;
  height: 560px;
}

#card3{
  background-color: white;
  align-items: center;
    width: 400px;
    height: 500px;
}